**.gmo
**-noshare.*
**.sqlite3
dump.*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
install-sh
missing

po/Makefile
po/Makefile.in
po/POTFILES
po/en@boldquot.gmo
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.gmo
po/en@quot.insert-header
po/en@quot.po
po/remove-potcdate.sed
po/it/

quick_quicklisp.sh

src/config.lisp
src/config.lisp.in

fulci