**.gmo
**-noshare.*
**.sqlite3
dump.*
Makefile


autom4te.cache/
config.log
config.status
config.sub
po/Makefile
po/Makefile.in
po/POTFILES
po/en@boldquot.gmo
po/en@boldquot.insert-header

po/en@quot.gmo
po/en@quot.insert-header

po/remove-potcdate.sed
po/stamp-po
po/it/

quick_quicklisp.sh

src/config.lisp
src/config.lisp.in

fulci
